python-dotenv
requests
beautifulsoup4
pythainlp
pandas
streamlit
wordcloud
scikit-learn
google-genai
pydantic
chromadb
pypdf
matplotlib
Pillow==10.4.0
tenacity
langdetect
pysqlite3-binary
praw
python-dateutil
